@import "colors.module";
@import "~@fontsource/montserrat/300.css";
@import "~@fontsource/montserrat/400.css";
@import "~@fontsource/montserrat/500.css";
@import "~@fontsource/montserrat/600.css";
@import "~@fontsource/montserrat/700.css";
@import "~@fontsource/sriracha/400.css";


html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: map_get($common, 'gray-2')
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: map_get($common, 'white');
}

hr {
  border: none;
  border-top: 1px solid map_get($common, 'gray-13');
}
