.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  display: block;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 60px;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.content_text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
