@import "../../styles/colors.module";

.categories {
  padding: 20px;
  border: 1px solid map_get($common, 'gray-13');
  position: sticky;
  top: 36px;
}

.title {
  padding-bottom: 36px;
}

.category_link {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.category {
  &__active {
    .category_name {
      font-weight: 500;
    }
  }

  &:hover {
    .category_name {
      font-weight: 500;
    }
  }

  &:first-child {
    .category_link {
      padding-top: 0;
    }
  }
  &:last-child {
    .category_link {
      padding-bottom: 0;
    }
  }
}

