@import "../../../styles/colors.module";

.chips {
  width: 24px;
  height: 24px;
  min-height: 24px;
  min-width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid map_get($common, 'gray-13');
  border-radius: 50%;
  color: map_get($common, 'gray-6');
}