@import "../../styles/colors.module";

$headerHeight: 150px;
$footerHeight: 83px;

.container {
  width: 1164px;
  margin: 0 auto;
  min-height: calc(100vh - #{$headerHeight} - #{$footerHeight});
  padding: 48px 0 84px;
  display: flex;
}

.main_wrapper {
  flex-grow: 1;
  padding-right: 24px;
}

.nav_wrapper {
  width: 261px;
  min-width: 261px;
}


.header, .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: map_get($common, "gray-15");
}

.header {
  height: $headerHeight;
}

.footer {
  height: $footerHeight;
  &__text {
    font-size: 32px;
    line-height: 57px;
  }
}